<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>{block name="title"} 管理中心{/block}</title>
    <!-- Favicons-->
    <link rel="icon" href="__STATIC__/images/favicon/favicon.ico" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/images/favicon/favicon.ico">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="__STATIC__/images/favicon/favicon.ico">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    {block name="css"}   
    <link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="__STATIC__/css/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    {/block}

</head>

<body class="{block name="body"}cyan{/block}">

<!-- Start Page Loading -->
{block name="loading"}
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{/block}
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- start Page main -->
{block name="main"}{/block}
<!-- End Page main -->
{block name="script"}
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" src="__STATIC__/js/jquery-1.11.2.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="__STATIC__/js/materialize.js"></script> 
<!-- <script type="text/javascript" src="http://www.materialscss.com/public/js/materialize.min.js"></script> -->
<!--prism-->
<script type="text/javascript" src="__STATIC__/js/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="__STATIC__/js/plugins.js"></script>
{/block}
<script type="text/javascript">
function dispatchById(name,method,id,force=''){
    $.ajax({
         type: "POST",
         url: '../'+method+'/'+name+'/'+id+'/'+force,
         dataType: "json",
         success: function(data){
           Materialize.toast(data.msg,1000,'',function(){
             if(data.code==1)  history.go(0); 
           }) 
         }
    });
}
function htmlencode(s){  
    var div = document.createElement('div');  
    div.appendChild(document.createTextNode(s));  
    return div.innerHTML;  
}  
function htmldecode(s){  
    var div = document.createElement('div');  
    div.innerHTML = s;  
    return div.innerText || div.textContent;  
} 
function checks(t){
   szMsg="[#_%&'/\",;:=!^]";
   alertStr="";
   for(i=1;i<szMsg.length+1;i++){
        if(t.indexOf(szMsg.substring(i-1,i))>-1){
         alertStr="请勿包含非法字符如[#_%&'/\",;:=!^]";
         break;
        }
   }
   if(alertStr != ""){
        return true;
   }
   return false;
}
/**
* number_format
* @param number 传进来的数,
* @param bit 保留的小数位,默认保留两位小数,
* @param sign 为整数位间隔符号,默认为空格
* @param gapnum 为整数位每几位间隔,默认为3位一隔
* @type arguments的作用：arguments[0] == number(之一)
*/
function number_format(number,bit,sign,gapnum){
  //设置接收参数的默认值
  var bit    = arguments[1] ? arguments[1] : 2 ;
  var sign   = arguments[2] ? arguments[2] : ' ' ;
  var gapnum = arguments[3] ? arguments[3] : 3 ;
  var str    = '' ;

  number     = number.toFixed(bit);//格式化
  realnum    = number.split('.')[0];//整数位(使用小数点分割整数和小数部分)
  decimal    = number.split('.')[1];//小数位
  realnumarr = realnum.split('');//将整数位逐位放进数组 ["1", "2", "3", "4", "5", "6"]
  
  //把整数部分从右往左拼接，每bit位添加一个sign符号
  for(var i=1;i<=realnumarr.length;i++){
      str = realnumarr[realnumarr.length-i] + str ;
      if(i%gapnum == 0){
          str = sign+str;//每隔gapnum位前面加指定符号
      }
  }
  
  //当遇到 gapnum 的倍数的时候，会出现比如 ",123",这种情况，所以要去掉最前面的 sign
  str = (realnum.length%gapnum==0) ? str.substr(1) : str;
  //重新拼接实数部分和小数位
  realnum = str+'.'+decimal;
  return realnum;
}
function putfile(obj){
    var file = obj.files[0];
    var filesize = formatSizeUnits(file.size);
    if (window.FileReader) {
      var reader = new FileReader();
      reader.readAsDataURL(file);
      //监听文件读取结束后事件
      reader.onloadend = function (e) {
        showXY(filesize,obj,e.target.result,file.fileName);
      };
    }
}
//预览图片
function showXY(filesize,obj,source){
    var img = $(obj).parents('.file-field').find(".materialboxed");
    img.attr("src", source);
    $(obj).parents('.file-field').find(".width").text("图片宽度："+ img[0]['width']+'px');
    $(obj).parents('.file-field').find(".height").text("图片高度："+ img[0]['height']+'px');
    $(obj).parents('.file-field').find(".size").text("图片大小："+ filesize);
}
function formatSizeUnits(bytes){
    if (bytes >= 1073741824)
    {
        bytes = number_format(bytes / 1073741824, 2) + ' GB';
    }
    else if (bytes >= 1048576)
    {
        bytes = number_format(bytes / 1048576, 2) + ' MB';
    }
    else if (bytes >= 1024)
    {
        bytes = number_format(bytes / 1024, 2) + ' KB';
    }
    else if (bytes > 1)
    {
        bytes = bytes + ' bytes';
    }
    else if (bytes == 1)
    {
        bytes = bytes + ' byte';
    }
    else
    {
        bytes = '0 bytes';
    }
    return bytes;
}
//添加目录
function addlist(i){
      var a = i+1;
      var html ="";
      html += "<div id='block"+a+"' class='list'>";
      html += "<div class='input-field col s12'><input id='des_name"+a+"' type='text' maxlength='20' length='20'><label for='des_name"+a+"'>自定义目录"+a+"</label></div><div class='input-field col s12'><iframe id='des"+a+"' width=100% height=293 src='/../editide/"+a+"' frameborder=0></iframe><span class='character-counter' style='float: right; font-size: 12px; height: 1px;'></span></div>";
      html += "</div>";  
      $("#list").append(html);
      $("#add-btn").html("<a onclick='addlist("+a+")' title='添加目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-av-playlist-add'></i></a>");
      $("#clear-btn").html("<a onclick='clearlist("+a+")' title='删除目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-content-clear'></i></a>");
      $("#sub-btn").html(" <button onclick='checksubmit("+a+")' class='btn cyan waves-effect waves-light right' type='button' name='action'>Submit <i class='mdi-content-send right'></i></button>");
}
//删除目录
function clearlist(i){
      var a = i-1;
      $("#block"+i).remove();
      if(a==1){
      $("#clear-btn").html("");
      }else{
      $("#clear-btn").html("<a onclick='clearlist("+a+")' title='删除目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-content-clear'></i></a>");    
      }         
      $("#add-btn").html("<a onclick='addlist("+a+")' title='添加目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-av-playlist-add'></i></a>");
      $("#sub-btn").html(" <button onclick='checksubmit("+a+")' class='btn cyan waves-effect waves-light right' type='button' name='action'>Submit <i class='mdi-content-send right'></i></button>");
}
</script>
</body>

</html>
