<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>{block name="title"} 管理中心{/block}</title>
    <!-- Favicons-->
    <link rel="icon" href="__STATIC__/images/favicon/favicon.ico" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="__STATIC__/images/favicon/favicon.ico">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="__STATIC__/images/favicon/favicon.ico">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    {block name="css"}   
    <link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="__STATIC__/css/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    {/block}

</head>

<body class="{block name="body"}cyan{/block}">

<!-- Start Page Loading -->
{block name="loading"}
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
{/block}
<!-- End Page Loading -->

<!-- //////////////////////////////////////////////////////////////////////////// -->
<!-- start Page main -->
{block name="main"}{/block}
<!-- End Page main -->
{block name="script"}
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" src="__STATIC__/js/jquery-1.11.2.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="__STATIC__/js/materialize.js"></script> 
<!-- <script type="text/javascript" src="http://www.materialscss.com/public/js/materialize.min.js"></script> -->
<!--prism-->
<script type="text/javascript" src="__STATIC__/js/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="__STATIC__/js/plugins.js"></script>
{/block}
<script type="text/javascript">
    function dispatchById(name,method,id){
            $.ajax({
                 type: "POST",
                 url: '../'+method+'/'+name+'/'+id,
                 dataType: "json",
                 success: function(data){
                   Materialize.toast(data.msg,1000,'',function(){
                     if(data.code==1)  history.go(0); 
                   }) 
                 }
            });
    }
    function htmlencode(s){  
        var div = document.createElement('div');  
        div.appendChild(document.createTextNode(s));  
        return div.innerHTML;  
    }  
    function htmldecode(s){  
        var div = document.createElement('div');  
        div.innerHTML = s;  
        return div.innerText || div.textContent;  
    } 
    function checks(t){
       szMsg="[#_%&'/\",;:=!^]";
       alertStr="";
       for(i=1;i<szMsg.length+1;i++){
            if(t.indexOf(szMsg.substring(i-1,i))>-1){
             alertStr="请勿包含非法字符如[#_%&'/\",;:=!^]";
             break;
            }
       }
       if(alertStr != ""){
            return true;
       }
       return false;
    }
</script>
</body>

</html>
