<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3">
	<div class="container">
	    <div class="row">
	        <div class="col s12 m12 l12">
	            <h5 class="breadcrumbs-title">图片</h5>
	            <ol class="breadcrumb">
	            	{volist name="buckets" id="v"}
		            	{if $action==$v}
		            	<li class="active"><{$v}></li>
		            	{else}
		            	<li><a href="/material_picture/<{$v}>"><{$v}></a></li>
		            	{/if}
	            	{/volist}                           
	            </ol>
	        </div>
	    </div>
	</div>
</div>
<!--breadcrumbs end-->