{extend name="base"/}
{block name="title"}图片 | {__block__}{/block}
{block name="css"} 
<link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">   
<link href="__STATIC__/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
<style type="text/css">
    .shadow-demo{
        width: 168px;
        height: 168px;
    }
    .card .card-content .card-title {
        line-height: 24px; 
    }  
    .activator{
        width:273px;height:178px;overflow: hidden;
    }  
</style>
{/block}
{block name="body"}{/block}
    <!-- //////////////////////////////////////////////////////////////////////////// -->
{block name="main"}
    {include file="page/header"}
    <!-- //////////////////////////////////////////////////////////////////////////// -->  
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            {include file="page/left_side"}
            <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START CONTENT -->
            <section id="content">

            {include file="material_picture/breadcrumbs"}

            <!--start container-->
            <div class="container">
              <!-- <p class="caption">
                <form id="postForm" action="" method="post" enctype="multipart/form-data" class="col s12">
                  <div class="row">
                    <div class="file-field input-field col s10">
                      <input id="uploadfilename" class="file-path validate" placeholder="上传一张或多张图片" type="text" value=""/>
                      <input type="hidden" name="bucket" value="<{$action}>">
                      <div class="btn">
                        <span>图片</span>
                        <input name="file[]" type="file" multiple="multiple"/>
                      </div>
                    </div>
                    <div class="input-field col s2">                          
                      <button onclick="checkupload()" class="btn cyan waves-effect waves-light right" type="button">上传<i class="mdi-content-send right"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </p> -->
              <p><a class="waves-effect waves-light btn modal-trigger  light-blue" href="#modal2">上传图片</a></p>
              <div id="modal2" class="modal modal-fixed-footer">
                <div class="modal-content">
                  <div class="row">
                    <div class="col s12 m8 l9">
                      <div class="progress">
                        <div class="indeterminate"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="#" class="waves-effect waves-red btn-flat modal-action modal-close">关闭</a>
                  <a href="javascript:clp();" class="waves-effect waves-green btn-flat modal-action">选择图片</a>
                  <input style="display: none;" type="file" id="file" />
                </div>
              </div>
              <!--Card Reveal-->
              <div class="divider"></div>
              
              <div id="card-reveal" class="section">
                <div class="row">
                  {if $list}
                    {volist name="list" id="v"}
                    <div class="col s12 m8 l3">
                      <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img {if $action!='yuhal-image'} class="activator" {/if} src="<{$v.path}>" alt="<{$v.title}>">
                        </div>
                        <div class="card-content">
                          <span class="card-title activator grey-text text-darken-4"><{$v.title|mb_substr=0,13,'utf-8'}>
                            <i class="mdi-image-edit right"></i>
                          </span>
                          <i onClick="Materialize.toast('<span>确认删除？</span><a class=&quot;btn light-blue &quot; href=javascript:checkdelete(&quot;<{$v.hash}>&quot;);>确认<a>', 1000)" class="mdi-action-delete right"></i>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">  
                            <i class="mdi-navigation-close right"></i>
                          </span>
                          <p>
                            <form action="">
                              <div class="col s12 m8 l12">
                                <label>编辑图片名称</label>
                                <input type="hidden" id="oldname<{$v.hash}>" value="<{$v.title}>">
                                <input type="text" id="newname<{$v.hash}>" value="<{$v.title}>">
                              </div>
                              <div class="col s12 m8 l12">
                                  <label>移动分组</label>
                                  <p>
                                    {volist name="buckets" key="k" id="vo"}
                                    <input name="bucket<{$v.hash}>" type="radio" id="bucket<{$k}><{$v.hash}>" value="<{$vo}>" {if $v.bucket==$vo} checked {/if} >
                                    <label for="bucket<{$k}><{$v.hash}>"><{$vo}></label>
                                    {/volist}
                                  </p>
                              </div>
                            </form>
                          </p>
                          <i onclick="checksubmit('<{$v.hash}>')" class="mdi-action-done right"></i>
                        </div>
                      </div>
                    </div>
                    {/volist}
                  {else}
                    <div class="col s12 m8 l3">
                      <label>暂无图片</label>
                    </div>
                  {/if}
                </div>
              </div>
            </div>
            <!--end container-->

          </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {include file="page/right_side"}
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
    {include file="page/footer"}
    </footer>
    <!-- END FOOTER --> 
{/block}
{block name="script"}
<!-- ================================================
Scripts
================================================ -->
<!-- jQuery Library -->
<script type="text/javascript" src="__STATIC__/js/jquery-1.11.2.min.js"></script>
<!--materialize js-->
<script type="text/javascript" src="__STATIC__/js/materialize.min.js"></script> 
<!-- <script type="text/javascript" src="http://www.materialscss.com/public/js/materialize.min.js"></script> -->
<!--prism-->
<script type="text/javascript" src="__STATIC__/js/prism.js"></script>
<!--scrollbar-->
<script type="text/javascript" src="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!--plugins.js - Some Specific JS codes for Plugin Settings-->
<script type="text/javascript" src="__STATIC__/js/plugins.js"></script>
<script type="text/javascript">
  function clp(){
    return $("#file").click();
  }
  function checkupload(){  
      var formData = new FormData($( "#postForm" )[0]);
      var uploadfilename = document.getElementById('uploadfilename').value;
      if(uploadfilename){
        $.ajax({  
            url: '/material_picture/create' ,  
            type: 'POST',  
            data: formData,  
            async: false,  
            cache: false,  
            contentType: false,  
            processData: false,  
            success: function (data) {  
              Materialize.toast(data.msg,1000,'',function(){
                //history.go(0);    
              })
            },   
        });  
      }else{
        Materialize.toast('请选择需要上传的图片',2000)
      }    
  }
  function checkdelete(hash){
      var oldname = $('#oldname'+hash).val();
      var bucket = document.getElementsByName('bucket'+hash);
      for (var i=0;i<bucket.length;i++){ //遍历Radio 
        if(bucket[i].checked){ 
        bucket=bucket[i].value; 
        } 
      }
      $.ajax({
         type: "POST",
         url: "/material_picture/delete",
         data: {"oldname":oldname,"bucket":bucket},
         dataType: "json",
         success: function(data){
            Materialize.toast(data.msg,2000,'',function(){
              history.go(0); 
            })
         }
      });
  }
  function checksubmit(hash){
      var oldname = $('#oldname'+hash).val();
      var newname = $('#newname'+hash).val();
      var from_bucket = '<{$action}>';
      var bucket = document.getElementsByName('bucket'+hash);
      for (var i=0;i<bucket.length;i++){ //遍历Radio 
        if(bucket[i].checked){ 
        bucket=bucket[i].value; 
        } 
      } 
      if(newname==""){
        Materialize.toast('图片名称不能为空', 1000);
        return false;
      }
      $.ajax({
         type: "POST",
         url: "/material_picture/edit",
         data: {"oldname":oldname,"to_bucket":bucket,"from_bucket":from_bucket,"newname":newname},
         dataType: "json",
         success: function(data){
            Materialize.toast(data.msg,2000,'',function(){
              history.go(0); 
            })
         }
      });       
  }
  var options = [
    {selector: '#staggered-test', offset: 50, callback: function(el) {
      Materialize.toast("This is our ScrollFire Demo!", 1500);
      $("#call-1").velocity({ backgroundColor: "#333", color: "#ef5350" }, {duration: 500});
    } },
    {selector: '#staggered-test', offset: 205, callback: function(el) {
      Materialize.toast("Please continue scrolling!", 1500);
      $("#call-2").velocity({ backgroundColor: "#333", color: "#ef5350" }, {duration: 500});
    } },
    {selector: '#staggered-test', offset: 500, callback: function(el) {
      Materialize.showStaggeredList($(el));
      $("#call-3").velocity({ backgroundColor: "#333", color: "#ef5350" }, {duration: 500});
    } },
    {selector: '#image-test', offset: 500, callback: function(el) {
      Materialize.fadeInImage($(el));
      $("#call-4").velocity({ backgroundColor: "#333", color: "#ef5350" }, {duration: 500});
    } }
  ];
  Materialize.scrollFire(options);
</script>
{/block}


