    <head>    
        <link href="__STATIC__/lightweight/assets/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="__STATIC__/lightweight/assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="__STATIC__/lightweight/assets/css/ace.min.css" />
    </head>
    <body>
        <div class="wysiwyg-editor" id="editor<{$i}>"></div>
        <script type="text/javascript" src="__STATIC__/js/jquery-1.11.2.min.js"></script>
        <script src="__STATIC__/lightweight/assets/js/bootstrap.min.js"></script>
        <script src="__STATIC__/lightweight/assets/js/jquery.hotkeys.min.js"></script>
        <script src="__STATIC__/lightweight/assets/js/bootstrap-wysiwyg.min.js"></script>
        <script src="__STATIC__/lightweight/assets/js/ace-elements.min.js"></script>

        <script type="text/javascript">
            jQuery(function($) {
                function showErrorAlert(reason, detail) {
                    var msg = '';
                    if (reason === 'unsupported-file-type') {
                        msg = "Unsupported format " + detail;
                    }
                    else {
                        console.log("error uploading file", reason, detail);
                    }
                    $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
                            '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
                }//$('#editor1').ace_wysiwyg();//this will create the default editor will all buttons
                $('.wysiwyg-editor').ace_wysiwyg({
                    toolbar:
                            [
                                'font',
                                null,
                                'fontSize',
                                null,
                                {name: 'bold', className: 'btn-info'},
                                {name: 'italic', className: 'btn-info'},
                                {name: 'strikethrough', className: 'btn-info'},
                                {name: 'underline', className: 'btn-info'},
                                null,
                                {name: 'insertunorderedlist', className: 'btn-success'},
                                {name: 'insertorderedlist', className: 'btn-success'},
                                {name: 'outdent', className: 'btn-purple'},
                                {name: 'indent', className: 'btn-purple'},
                                null,
                                {name: 'justifyleft', className: 'btn-primary'},
                                {name: 'justifycenter', className: 'btn-primary'},
                                {name: 'justifyright', className: 'btn-primary'},
                                {name: 'justifyfull', className: 'btn-inverse'},
                                null,
                                {name: 'createLink', className: 'btn-pink'},
                                {name: 'unlink', className: 'btn-pink'},
                                null,
                                {name: 'insertImage', className: 'btn-success'},
                                null,
                                'foreColor',
                                null,
                                {name: 'undo', className: 'btn-grey'},
                                {name: 'redo', className: 'btn-grey'}
                            ],
                    'wysiwyg': {
                        fileUploadError: showErrorAlert
                    }
                }).prev().addClass('wysiwyg-style2');
            });
        </script>
    </body>    