{extend name="base"/}
{block name="title"}修改密码 | {__block__}{/block}
{block name="main"}
<div id="login-page" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <form class="login-form" action="/savepassword" method="post" onsubmit="verify()">
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">修改密码</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <input name="password" maxlength="12"  type="password" required>
          <label for="password">输入新密码</label>
        </div>
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <input name="password" maxlength="12" type="password" required>
          <label for="password">确认新密码</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button class="btn col s12" type="submit">保存</button>
        </div>
      </div>
    </form>
  </div>
</div>
{/block}