<!--breadcrumbs start-->
<div id="breadcrumbs-wrapper" class=" grey lighten-3">
	<div class="container">
	    <div class="row">
	        <div class="col s12 m12 l12">
	            <h5 class="breadcrumbs-title">标签</h5>
	            <ol class="breadcrumb">
	            	{if $action=="index"}
	                <li class="active">标签列表</li>
	                <li><a href="/blog_tag/create">创建标签</a></li> 
	                {else}
	                <li><a href="/blog_tag/index">标签列表</a></li>
	                <li class="active">创建标签</li> 
	                {/if}                               
	            </ol>
	        </div>
	    </div>
	</div>
</div>
<!--breadcrumbs end-->