{extend name="base"/}
{block name="title"}标签列表 | {__block__}{/block}
{block name="css"} 
<link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">   
<link href="__STATIC__/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
{/block}
{block name="body"}{/block}
    <!-- //////////////////////////////////////////////////////////////////////////// -->
{block name="main"}
    {include file="page/header"}
    <!-- //////////////////////////////////////////////////////////////////////////// -->  
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            {include file="page/left_side"}
            <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START CONTENT -->
            <section id="content">

                {include file="blog_tag/breadcrumbs"}

                <!--start container-->
                <div class="container">
                        <div class="divider"></div>
                        <!--Creating Responsive Layouts-->
                        <div id="badge-example">
                            <div class="row">
                              <div class="col s12 m8 l3">
                                <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                                  {volist name="tags" id="v"} 
                                  <li class="">
                                    <div class="collapsible-header">
                                        <i class="mdi-action-loyalty"></i> <{$v.value}>
                                        <a style="color:black" class="secondary-content">
                                            <i onclick="location='/blog_tag/create/<{$v.id}>'" title="编辑" class="mdi-image-edit"></i>
                                            {if $v.delete_time}
                                            <i onclick="dispatchById('article_tags','restore','<{$v.id}>')" title="还原" class="mdi-action-settings-backup-restore"></i>
                                            {else}
                                            <i onclick="dispatchById('article_tags','destory','<{$v.id}>')" title="删除" class="mdi-action-delete"></i>
                                            {/if}
                                        </a>
                                    </div>
                                    <div class="collapsible-body" style="display: none;">
                                      <p>
                                        <i class="mdi-action-query-builder tiny"></i> <{$v.update_time}><br/>
                                        <{$v.intro}>
                                      </p>
                                    </div>
                                  </li>
                                  {/volist}
                                </ul>
                              </div>
                              <div class="col s12 m8 l3">
                                <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                                  {volist name="tags" id="v"} 
                                  <li class="">
                                    <div class="collapsible-header">
                                        <i class="mdi-action-loyalty"></i> <{$v.value}>
                                        <a style="color:black" class="secondary-content">
                                            <i onclick="location='/blog_tag/create/<{$v.id}>'" title="编辑" class="mdi-image-edit"></i>
                                            {if $v.delete_time}
                                            <i onclick="dispatchById('article_tags','restore','<{$v.id}>')" title="还原" class="mdi-action-settings-backup-restore"></i>
                                            {else}
                                            <i onclick="dispatchById('article_tags','destory','<{$v.id}>')" title="删除" class="mdi-action-delete"></i>
                                            {/if}
                                        </a>
                                    </div>
                                    <div class="collapsible-body" style="display: none;">
                                      <p>
                                        <i class="mdi-action-query-builder tiny"></i> <{$v.update_time}><br/>
                                        <{$v.intro}>
                                      </p>
                                    </div>
                                  </li>
                                  {/volist}
                                </ul>
                              </div>
                              <div class="col s12 m8 l3">
                                <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                                  {volist name="tags" id="v"} 
                                  <li class="">
                                    <div class="collapsible-header">
                                        <i class="mdi-action-loyalty"></i> <{$v.value}>
                                        <a style="color:black" class="secondary-content">
                                            <i onclick="location='/blog_tag/create/<{$v.id}>'" title="编辑" class="mdi-image-edit"></i>
                                            {if $v.delete_time}
                                            <i onclick="dispatchById('article_tags','restore','<{$v.id}>')" title="还原" class="mdi-action-settings-backup-restore"></i>
                                            {else}
                                            <i onclick="dispatchById('article_tags','destory','<{$v.id}>')" title="删除" class="mdi-action-delete"></i>
                                            {/if}
                                        </a>
                                    </div>
                                    <div class="collapsible-body" style="display: none;">
                                      <p>
                                        <i class="mdi-action-query-builder tiny"></i> <{$v.update_time}><br/>
                                        <{$v.intro}>
                                      </p>
                                    </div>
                                  </li>
                                  {/volist}
                                </ul>
                              </div>
                            </div>
                        </div>                     
                    </div> 
                </div>
                <!--end container-->

            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {include file="page/right_side"}
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
    {include file="page/footer"}
    </footer>
    <!-- END FOOTER -->
{/block}



