{extend name="base"/}
{block name="title"}创建标签 | {__block__}{/block}
{block name="css"} 
<link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">   
<link href="__STATIC__/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
{/block}
{block name="body"}{/block}

    <!-- //////////////////////////////////////////////////////////////////////////// -->
{block name="main"}
    {include file="page/header"}
    <!-- //////////////////////////////////////////////////////////////////////////// -->  
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            {include file="page/left_side"}
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
      <section id="content">

        {include file="blog_tag/breadcrumbs"}

        <!--start container-->
        <div class="container">  
            <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <div class="row">
                  <form class="col s12">
                    <div id="list">    
                      <div class="row" id="block1">
                        <div class="input-field col s<{$length}>">
                          <i class="mdi-action-class prefix"></i>
                          <select id="type_id1" class="browser-default" style="margin-left: 40px;width:88%">
                            <option disabled>选择标签所属分类</option>
                            {volist name="articleType" id="v"}
                            <option value="<{$v.id}>"><{$v.value}></option>
                            {/volist}
                          </select>
                        </div>
                        <div class="input-field col s<{$length}>">
                          <i class="mdi-action-loyalty prefix"></i>
                          <input id="value1" type="text" length="16" maxlength="16">
                          <label for="value1">标签名称1</label>
                        </div> 
                        <div class="input-field col s<{$length}>">
                          <i class="mdi-action-assignment prefix"></i>
                          <textarea id="intro1" class="materialize-textarea" maxlength="255" length="255"></textarea>
                          <label for="intro1">标签简介1</label>
                        </div> 
                      </div>
                      <div id="line1" class="divider"></div>
                    </div>
                    <div class="row">
                        <br/>
                        <div id="add-btn" class="input-field col s2">
                          <a onclick="addlist(1)" title="添加目录" class="btn-floating btn-move-up waves-effect waves-light darken-2 left"><i class="mdi-av-playlist-add"></i></a>
                        </div>
                        <div id="clear-btn" class="input-field col s2">
                        </div>
                        <div id="sub-btn" class="input-field col s8">
                          <button onclick="checksubmit(1)" class="btn cyan waves-effect waves-light right" type="button" name="action">Submit<i class="mdi-content-send right"></i>
                          </button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <!--end container-->
  </section>
  <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {include file="page/right_side"}
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
    {include file="page/footer"}
    </footer>

    <script type="text/javascript">
      function checksubmit(i){
          var tags = '[';
          for (var a=1;a<=i;a++)
          {
            var type_id = document.getElementById('type_id'+a).value;
            var value = document.getElementById('value'+a).value;
            var intro = document.getElementById('intro'+a).value; 
            if(type_id==""){
                Materialize.toast('请选择选择标签所属分类', 1000);
                return false;
            }
            if(value==""){
                Materialize.toast('标签名称'+a+'不能为空', 1000);
                return false;
            }else if(checks(value)){
                Materialize.toast('标签名称不能含有特殊字符', 1000);
                return false;
            }
            if(intro && checks(intro)){
                Materialize.toast('标签简介不能含有特殊字符', 1000);
                return false;
            }
            tags += '{"value":"'+value+'","intro":"'+intro+'","type_id":"'+type_id+'"},';
          }
          tags=tags.substr(0,tags.length-1)+']';  
          $.ajax({
             type: "POST",
             url: "/blog_tag/create",
             data: {
              "tags":tags
             },
             dataType: "json",
             success: function(data){
                Materialize.toast(data.msg,1000,'',function(){
                })  
             }
          });       
      } 

    function addlist(i){
          var a = i+1;
          var html ="";
          var length = "<{$length}>";
          var articleTypeHtml_1 = "<div class='input-field col s"+length+"'><i class='mdi-action-class prefix'></i><select id='type_id"+a+"' class='browser-default' style='margin-left: 40px;width:88%'>";
          var articleTypeHtml_2 = document.getElementById('type_id1').innerHTML;
          var articleTypeHtml_3 = "</select></div>";
          html += "<div class='row' id='block"+a+"'>"+articleTypeHtml_1+articleTypeHtml_2+articleTypeHtml_3+"<div class='input-field col s"+length+"'><i class='mdi-action-loyalty prefix'></i><input id='value"+a+"' type='text' length='16' maxlength='16'><label for='value'>标签名称"+a+"</label></div> <div class='input-field col s"+length+"'><i class='mdi-action-assignment prefix'></i><textarea id='intro"+a+"' class='materialize-textarea' maxlength='255' length='255'></textarea><label for='intro'>标签简介"+a+"</label></div> </div><div class='divider' id='line"+a+"'></div>"; 
          $("#list").append(html);
          $("#add-btn").html("<a onclick='addlist("+a+")' title='添加目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-av-playlist-add'></i></a>");
          $("#clear-btn").html("<a onclick='clearlist("+a+")' title='删除目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-content-clear'></i></a>");
          $("#sub-btn").html(" <button onclick='checksubmit("+a+")' class='btn cyan waves-effect waves-light right' type='button' name='action'>Submit <i class='mdi-content-send right'></i></button>");
    }
    function clearlist(i){
          var a = i-1;
          $("#block"+i).remove();
          $("#line"+i).remove();
          if(a==1){
          $("#clear-btn").html("");
          }else{
          $("#clear-btn").html("<a onclick='clearlist("+a+")' title='删除目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-content-clear'></i></a>");    
          }         
          $("#add-btn").html("<a onclick='addlist("+a+")' title='添加目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-av-playlist-add'></i></a>");
          $("#sub-btn").html(" <button onclick='checksubmit("+a+")' class='btn cyan waves-effect waves-light right' type='button' name='action'>Submit <i class='mdi-content-send right'></i></button>");
    } 
    </script>

    <!-- END FOOTER -->
{/block}



