{extend name="base"/}
{block name="title"}编辑标签 | {__block__}{/block}
{block name="css"} 
<link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">   
<link href="__STATIC__/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
{/block}
{block name="body"}{/block}

    <!-- //////////////////////////////////////////////////////////////////////////// -->
{block name="main"}
    {include file="page/header"}
    <!-- //////////////////////////////////////////////////////////////////////////// -->  
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            {include file="page/left_side"}
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
      <section id="content">

        {include file="blog_category/breadcrumbs"}

        <!--start container-->
        <div class="container">  
            <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <div class="row">
                  <form class="col s12">   
                      <div class="row" >
                        <div class="input-field col s<{$length}>">
                          <i class="mdi-action-class prefix"></i>
                          <select id="type_id" onchange="change_color2(this.options[this.options.selectedIndex].value,1)" class="browser-default" style="margin-left: 40px;width:88%">
                            <option disabled>选择标签所属分类</option>
                            {volist name="articleType" id="v"}
                            <option {if $content.type_id==$v.id} selected {/if} value="<{$v.id}>"><{$v.value}></option>
                            {/volist}
                          </select>
                        </div>
                        <div class="input-field col s<{$length}>">
                          <i class="mdi-action-loyalty prefix"></i>
                          <input id="value" type="text" length="16" maxlength="16" value="<{$content.value}>">
                          <label for="value" class="active">标签名称</label>
                        </div> 
                        <div class="input-field col s<{$length}>">
                          <i class="mdi-action-assignment prefix"></i>
                          <textarea id="intro" class="materialize-textarea" maxlength="255" length="255"><{$content.intro}></textarea>
                          <label for="intro" class="active">标签简介</label>
                        </div> 
                      </div>
                      <div class="divider"></div>
                    <div class="row">
                        <br/>
                        <div class="input-field col s12">
                          <button onclick="checksubmit(<{$content.id}>)" class="btn cyan waves-effect waves-light right" type="button">Submit<i class="mdi-content-send right"></i>
                          </button>
                        </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <!--end container-->
  </section>
  <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {include file="page/right_side"}
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
    {include file="page/footer"}
    </footer>

    <script type="text/javascript">
      function checksubmit(id){
          var type_id = document.getElementById('type_id').value;
          var value = document.getElementById('value').value;
          var intro = document.getElementById('intro').value; 
          if(type_id==""){
              Materialize.toast('请选择选择标签所属分类', 1000);
              return false;
          }
          if(value==""){
              Materialize.toast('标签名称不能为空', 1000);
              return false;
          }else if(checks(value)){
              Materialize.toast('不能含有特殊字符', 1000);
              return false;
          }
          if(intro && checks(intro)){
              Materialize.toast('标签简介不能含有特殊字符', 1000);
              return false;
          }
          var tags = '[{"id":"'+id+'","value":"'+value+'","intro":"'+intro+'","type_id":"'+type_id+'"}]';
          $.ajax({
             type: "POST",
             url: "/blog_category/article_tag",
             data: {
              "tags":tags
             },
             dataType: "json",
             success: function(data){
                Materialize.toast(data.msg,1000,'',function(){
                })  
             }
          });       
      } 
    </script>

    <!-- END FOOTER -->
{/block}



