{extend name="base"/}
{block name="title"}分类&标签 | {__block__}{/block}
{block name="css"} 
<link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">   
<link href="__STATIC__/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
{/block}
{block name="body"}{/block}
    <!-- //////////////////////////////////////////////////////////////////////////// -->
{block name="main"}
    {include file="page/header"}
    <!-- //////////////////////////////////////////////////////////////////////////// -->  
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            {include file="page/left_side"}
            <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START CONTENT -->
            <section id="content">

                {include file="blog_category/breadcrumbs"}

                <!--start container-->
                <div class="container">
                        <div class="divider"></div>
                        <!--Creating Responsive Layouts-->
                        <div id="badge-example">
                            <div class="row">
                              {volist name="categories" id="article_type"}   
                              <div class="col s12 m8 l<{$length}>">
                                <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                                  <li class="">
                                    <div class="collapsible-header">
                                        <i style="color:<{$article_type.color}>" class="mdi-action-class"></i> <{$article_type.value}>
                                        <a style="color:black" class="secondary-content">
                                            <i onclick="location='/blog_category/article_type/<{$article_type.id}>'" title="编辑" class="mdi-image-edit"></i>
                                            {if $article_type.delete_time}
                                            <i onclick="dispatchById('article_type','restore','<{$article_type.id}>')" title="还原" class="mdi-action-settings-backup-restore"></i>
                                            {else}
                                            <i onclick="dispatchById('article_type','destory','<{$article_type.id}>')" title="删除" class="mdi-action-delete"></i>
                                            {/if}
                                        </a>
                                    </div>
                                    <div class="collapsible-body" style="display: none;">
                                      <p>
                                        {if $article_type.update_time}<i class="mdi-action-query-builder tiny"></i> <{$article_type.update_time}><br/>{/if}
                                        <{$article_type.intro}>
                                      </p>
                                    </div>
                                  </li>  
                                  {volist name="article_type.tags" id="article_tag"} 
                                  <li class="">
                                    <div class="collapsible-header">
                                        <i style="color:<{$article_type.color}>" class="mdi-action-loyalty"></i> <{$article_tag.value}>
                                        <a style="color:black" class="secondary-content">
                                            <i onclick="location='/blog_category/article_tag/<{$article_tag.id}>'" title="编辑" class="mdi-image-edit"></i>
                                            {if $article_tag.delete_time}
                                            <i onclick="dispatchById('article_tags','restore','<{$article_tag.id}>')" title="还原" class="mdi-action-settings-backup-restore"></i>
                                            {else}
                                            <i onclick="dispatchById('article_tags','destory','<{$article_tag.id}>')" title="删除" class="mdi-action-delete"></i>
                                            {/if}
                                        </a>
                                    </div>
                                    <div class="collapsible-body" style="display: none;">
                                      <p>
                                        {if $article_type.update_time}<i class="mdi-action-query-builder tiny"></i> <{$article_tag.update_time}><br/>{/if}
                                        <{$article_tag.intro}>
                                      </p>
                                    </div>
                                  </li>
                                  {/volist}
                                </ul>
                              </div>
                              {/volist}
                            </div>
                        </div>                     
                    </div> 
                </div>
                <!--end container-->

            </section>
            <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {include file="page/right_side"}
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
    {include file="page/footer"}
    </footer>
    <!-- END FOOTER -->
{/block}



