{extend name="base"/}
{block name="title"}创建文章 | {__block__}{/block}
{block name="css"} 
<link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">   
<link href="__STATIC__/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
{/block}
{block name="body"}{/block}

    <!-- //////////////////////////////////////////////////////////////////////////// -->
{block name="main"}
    {include file="page/header"}
    <!-- //////////////////////////////////////////////////////////////////////////// -->  
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            {include file="page/left_side"}
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
      <section id="content">

        {include file="blog_article/breadcrumbs"}

        <!--start container-->
        <div class="container">  
            <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <div class="row">
                  <form name="createarticle" class="col s12">
                    {if is_mobile_request()==false}
                    <div class="row">
                      <div class="input-field col s8">
                        <input name="article_title" type="text" length="36" maxlength="36">
                        <label for="article_title">文章标题</label>
                      </div> 
                      <div class="input-field col s4">
                          <input name="create_time" type="date" class="datepicker">
                          <label for="create_time">添加时间</label>
                      </div>
                    </div>
                    {else}
                    <div class="row">
                      <div class="input-field col s12">
                        <input name="article_title" type="text" length="36" maxlength="36">
                        <label for="article_title">文章标题</label>
                      </div> 
                    </div>     
                    <div class="row">  
                      <div class="input-field col s12">
                          <input name="create_time" type="date" class="datepicker">
                          <label for="create_time">添加时间</label>
                      </div>
                    </div>
                    {/if}
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea name="note" class="materialize-textarea" maxlength="100" length="100"></textarea>
                        <label for="note">文章摘要</label>
                      </div> 
                    </div>
                    <div class="row">
                      <div class="input-field col s6">
                          <table>
                          <thead>
                            <tr>
                              <th data-field="id"><i class="mdi-action-loyalty"></i>文章标签</th>
                            </tr>
                          </thead>
                          <tbody>
                            {volist name="$tags" id="v"}
                            <tr>
                              <td>
                                <input name="tag" type="checkbox" id="tag<{$v.id}>" value="<{$v.id}>">
                                <label for="tag<{$v.id}>"><{$v.value}></label>
                              </td>
                            </tr>
                            {/volist}
                          </tbody>
                        </table>
                      </div>
                      <div class="input-field col s6">
                          <table>
                          <thead>
                            <tr>
                              <th data-field="id"><i class="mdi-action-class"></i>文章类型</th>
                            </tr>
                          </thead>
                          <tbody>
                            {volist name="$articletype" id="v"}
                            <tr>   
                              <td>
                                <input name="type_id" type="radio" id="type<{$v.id}>" value="<{$v.id}>" {if $v.delete_time} disabled="disabled" {/if}>
                                <label style="color:<{$v.color}>" for="type<{$v.id}>"><{$v.value}></label>
                              </td>
                            </tr>
                            {/volist}
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row" id="list">
                      <div class="list">
                        <div class="input-field col s12">
                          <input id="des_name1" type="text" maxlength="20" length="20">
                          <label for="des_name1">目录名称1</label>
                        </div>
                        <div class="input-field col s12">
                          <iframe id="des1" width=100% height=293 src="/../editide/1" frameborder=0></iframe>
                        <span class="character-counter" style="float: right; font-size: 12px; height: 1px;"></span></div>
                      </div>  
                    </div>
                    <div class="row">
                        <br/>
                        <div id="add-btn" class="input-field col s2">
                          <a onclick="addlist(1)" title="添加目录" class="btn-floating btn-move-up waves-effect waves-light darken-2 left"><i class="mdi-av-playlist-add"></i></a>
                        </div>
                        <div id="clear-btn" class="input-field col s2">
                        </div>
                        <div id="sub-btn" class="input-field col s8">
                          <button onclick="checksubmit(1)" class="btn cyan waves-effect waves-light right" type="button" name="action">Submit<i class="mdi-content-send right"></i>
                          </button>
                        </div>
                    </div>
                    <input type="hidden" name="article_id" value="">
                    <input type="hidden" name="uniqid" value="<{$uniqid}>">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  <!--end container-->
  </section>
  <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {include file="page/right_side"}
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
    {include file="page/footer"}
    </footer>

    <script type="text/javascript">
      function checksubmit(i){
          var article_title = createarticle.article_title.value;
          var create_time = createarticle.create_time.value;
          var article_id = createarticle.article_id.value;
          var uniqid = createarticle.uniqid.value;
          var note = createarticle.note.value;
          var obj = document.getElementsByName("tag");  
          check_val = [];
          for(k in obj){
              if(obj[k].checked)
                  check_val.push(obj[k].value);
          }
          var type_id = createarticle.type_id.value; 
          if(article_title==""){
            Materialize.toast('文章标题不能为空', 1000);
            return false;
          }
          if(create_time==""){
            Materialize.toast('添加时间不能为空', 1000);
            return false;
          }
          if(check_val==""){
            Materialize.toast('至少选择一个标签', 1000);
            return false;
          } 
          if(type_id==""){
            Materialize.toast('文章类型不能为空', 1000);
            return false;
          }
          var des = '[';
          for (var a=1;a<=i;a++)
          {
            var des_name = '';
            var des_text = '';
            des_name = document.getElementById('des_name'+a).value;
            des_text = document.getElementById('des'+a).contentWindow.document.getElementById('editor'+a).innerHTML;  
            if(des_name==""){
                Materialize.toast("目录名称"+a+"不能为空", 1000);
                return false;
            }
            des_text = htmlencode(des_text);
            des_text = JSON.stringify(des_text).replace(/\"/g,"\""); 
            des += '{"name":"'+des_name+'","text":'+des_text+'},';
          }
          des=des.substr(0,des.length-1)+']';  
          $.ajax({
             type: "POST",
             url: "/blog_article/create",
             data: {
              "article":
                {
                 'article_id':article_id,
                 'article_title':article_title,
                 'type_id':type_id,
                 'tag_ids':check_val.join(),        
                 'note':note,
                 'create_time':create_time,
                 'uniqid':uniqid
                },
              "des":des
             },
             dataType: "json",
             success: function(data){
                Materialize.toast(data.msg,2000,'',function(){
                  createarticle.article_id.value=data.data.article_id;
                })
             }
          });       
      } 


    function addlist(i){
          var a = i+1;
          var html ="";
          html += "<div id='block"+a+"' class='list'>";
          html += "<div class='input-field col s12'><input id='des_name"+a+"' type='text' maxlength='20' length='20'><label for='des_name"+a+"'>目录名称"+a+"</label></div><div class='input-field col s12'><iframe id='des"+a+"' width=100% height=293 src='/../editide/"+a+"' frameborder=0></iframe><span class='character-counter' style='float: right; font-size: 12px; height: 1px;'></span></div>";
          html += "</div>";  
          $("#list").append(html);
          $("#add-btn").html("<a onclick='addlist("+a+")' title='添加目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-av-playlist-add'></i></a>");
          $("#clear-btn").html("<a onclick='clearlist("+a+")' title='删除目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-content-clear'></i></a>");
          $("#sub-btn").html(" <button onclick='checksubmit("+a+")' class='btn cyan waves-effect waves-light right' type='button' name='action'>Submit <i class='mdi-content-send right'></i></button>");
    }
    function clearlist(i){
          var a = i-1;
          $("#block"+i).remove();
          if(a==1){
          $("#clear-btn").html("");
          }else{
          $("#clear-btn").html("<a onclick='clearlist("+a+")' title='删除目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-content-clear'></i></a>");    
          }         
          $("#add-btn").html("<a onclick='addlist("+a+")' title='添加目录' class='btn-floating btn-move-up waves-effect waves-light darken-2 left'><i class='mdi-av-playlist-add'></i></a>");
          $("#sub-btn").html(" <button onclick='checksubmit("+a+")' class='btn cyan waves-effect waves-light right' type='button' name='action'>Submit <i class='mdi-content-send right'></i></button>");
    } 
    </script>

    <!-- END FOOTER -->
{/block}



