{extend name="base"/}
{block name="title"}设置 | {__block__}{/block}
{block name="css"} 
<link href="__STATIC__/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
<!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
<link href="__STATIC__/css/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
<link href="__STATIC__/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">   
<link href="__STATIC__/js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
{/block}
{block name="body"}{/block}

    <!-- //////////////////////////////////////////////////////////////////////////// -->
{block name="main"}
    {include file="page/header"}
    <!-- //////////////////////////////////////////////////////////////////////////// -->  
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            {include file="page/left_side"}
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
      <section id="content">

        <!--breadcrumbs start-->
        <div id="breadcrumbs-wrapper" class=" grey lighten-3">
          <div class="container">
              <div class="row">
                  <div class="col s12 m12 l12">
                      <h5 class="breadcrumbs-title">设置</h5>
                      <ol class="breadcrumb">
                        {volist name="left_side.setup" id="v"}
                          {if $v.region==$action}
                          <li class="active"><{$v.comment}></li>
                          {else}
                          <li><a href="/setup/<{$v.region}>"><{$v.comment}></a></li>
                          {/if}
                        {/volist}                                  
                      </ol>
                  </div>
              </div>
          </div>
        </div>
        <!--breadcrumbs end-->

        <!--start container-->
        <div class="container">  
            <div class="row">
            <div class="col s12 m12 l12">
              <div class="card-panel">
                <form id="postForm" method="post" enctype="multipart/form-data">
                  <div class="row">   
                    <div class="row">
                      {volist name="SysSetup" id="v" key="key"}
                        {if $v.type=='text'}
                          <div class="input-field col s12">
                            <input name="<{$v.name}>" type="text" value="<{$v.value}>">
                            {if !$v.value}
                            <label><{$v.comment}></label>
                            {/if}
                          </div>
                        {elseif $v.type=='file'} 
                          <div class="file-field input-field col s<{$length}>">
                            <input disabled class="file-path validate" placeholder="上传<{$v.comment}>" type="text" value="<{$v.value}>"/>
                            <div class="col s4 m4 l4">
                              <img class="materialboxed" width="100" alt="<{$v.comment}>" title="<{$v.comment}>" src="<{$v.value}>">
                            </div>
                            {if $v.type=='file'}
                            <div class="col s8 m4 l8">
                              <p>图片大小：<{$v.size}></p>
                            </div>
                            {/if}
                            <div class="btn">
                              <span><{$v.comment}></span>
                              <input onchange="putfile(this)" name="<{$v.name}>" type="file" multiple="multiple"/>
                            </div>
                          </div>  
                        {/if}
                      {/volist}
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <br/>
                        <div id="sub-btn" class="input-field col s<{$length}>">
                          <button onclick="checksubmit()" class="btn cyan waves-effect waves-light right" type="button" name="action">Submit<i class="mdi-content-send right"></i>
                          </button>
                        </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  <!--end container-->
  </section>
  <!-- END CONTENT -->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            {include file="page/right_side"}
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- END MAIN -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START FOOTER -->
    <footer class="page-footer">
    {include file="page/footer"}
    </footer>
    <!-- END FOOTER -->
<script type="text/javascript">
  function checksubmit(){
    var formData = new FormData($( "#postForm" )[0]);
    $.ajax({
       type: "POST",
       url: "/setup/<{$action}>",
       data: formData,  
       async: false,  
       cache: false,  
       contentType: false,  
       processData: false,  
       success: function(data){
          Materialize.toast(data.msg,1000,'',function(){
          })
       }
    });  
  }
  function putfile(obj){
    var file = obj.files[0];
    var filesize = formatSizeUnits(file.size);
    if (window.FileReader) {
      var reader = new FileReader();
      reader.readAsDataURL(file);
      //监听文件读取结束后事件
      reader.onloadend = function (e) {
        showXY(filesize,obj,e.target.result,file.fileName);
      };
    }
  }
  function formatSizeUnits(bytes){
    if (bytes >= 1073741824)
    {
        bytes = number_format(bytes / 1073741824, 2) + ' GB';
    }
    else if (bytes >= 1048576)
    {
        bytes = number_format(bytes / 1048576, 2) + ' MB';
    }
    else if (bytes >= 1024)
    {
        bytes = number_format(bytes / 1024, 2) + ' KB';
    }
    else if (bytes > 1)
    {
        bytes = bytes + ' bytes';
    }
    else if (bytes == 1)
    {
        bytes = bytes + ' byte';
    }
    else
    {
        bytes = '0 bytes';
    }
    return bytes;
  }
  /**
   * number_format
   * @param number 传进来的数,
   * @param bit 保留的小数位,默认保留两位小数,
   * @param sign 为整数位间隔符号,默认为空格
   * @param gapnum 为整数位每几位间隔,默认为3位一隔
   * @type arguments的作用：arguments[0] == number(之一)
  */
  function number_format(number,bit,sign,gapnum){
      //设置接收参数的默认值
      var bit    = arguments[1] ? arguments[1] : 2 ;
      var sign   = arguments[2] ? arguments[2] : ' ' ;
      var gapnum = arguments[3] ? arguments[3] : 3 ;
      var str    = '' ;

      number     = number.toFixed(bit);//格式化
      realnum    = number.split('.')[0];//整数位(使用小数点分割整数和小数部分)
      decimal    = number.split('.')[1];//小数位
      realnumarr = realnum.split('');//将整数位逐位放进数组 ["1", "2", "3", "4", "5", "6"]
      
      //把整数部分从右往左拼接，每bit位添加一个sign符号
      for(var i=1;i<=realnumarr.length;i++){
          str = realnumarr[realnumarr.length-i] + str ;
          if(i%gapnum == 0){
              str = sign+str;//每隔gapnum位前面加指定符号
          }
      }
      
      //当遇到 gapnum 的倍数的时候，会出现比如 ",123",这种情况，所以要去掉最前面的 sign
      str = (realnum.length%gapnum==0) ? str.substr(1) : str;
      //重新拼接实数部分和小数位
      realnum = str+'.'+decimal;
      return realnum;
  }
  //预览图片
  function showXY(filesize,obj,source){
    $(obj).parents('.file-field').find(".materialboxed").attr("src", source);
    $(obj).parents('.file-field').find("p").text("图片大小："+ filesize);
  }
</script>
{/block}





